<div class="row">
 <div class="col-md-12">
 <h2>Activity</h2>
 <hr />
        <div>

        </div>
        <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>Activity&nbsp;Num</th>
                <th>Activity Name</th>
                <th>Max Number of People</th>
                <th>Category</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {{#each activities}}
                    <tr>
                        <td>{{act_id}}</td>
                        <td>{{act_title}}</td>
                        <td>{{maxNum}}</td>
                        <td>{{act_category}}</td>
                        <td><a href="/activity/{{act_id}}" class="btn btn-success pull-right">Let's try together</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
 </div>

</div>